doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/styles/global.css")
    title Not Found
  body 
    .not-found-container
      h1.not-found-title 404 - Not Found
      p.not-found-text The requested page could not be found.
      
      a.not-found-btn(href="/") ← Back to Home
